.card{
    background-color: rgb(222, 209, 209);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 93%;
    
    margin-left: 15px;
    margin-bottom: 5px;
    text-align: left;
    border-radius: 10px;
}
img{
    border-radius: 50%;
    object-fit: contain;
    width: 100px;
    height: 100px;
}
.words{
    
    width: 350px;
    font-family: Arial, Helvetica, sans-serif;
   
    margin-left: 35px;
}
.employee{
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
}
.lightWords{
    font-weight: 100;
}